{:service-name "kixi.data-acquisition"
 :metrics {:influx-reporter {:host #profile {:production "172.20.0.48"
                                             :development "localhost"}
                             :port 8086
                                        ;                             :auth
                             :connect-timeout 1500
                             :read-timeout 1500
                             :group-gauges true
                                        ;                             :duration-unit
                             :measurement-mappings {"jvm_threads" "jvm\\.thread.*"
                                                    "jvm_gc" "jvm\\.gc\\..*"
                                                    "jvm_memory" "jvm\\.memory\\..*"
                                                    "resources" "resources\\..*"
                                                    "log" "log\\..*"}
                                        ;                             :excludes
                             :prefix ^:ref [:service-name]
                             :db-name "metrics"
                             :fields {"meters" #{"m1_rate" "m5_rate" "m15_rate"}}
                             :tags {"env" #or [#env ENVIRONMENT "local"]
                                    "service" ^:ref [:service-name]
                                    "taskid" #or [#env MESOS_TASK_ID #rand-uuid "rand"]}
                             :seconds #profile {:production 60
                                                :development 60}}}
 :log {:level #profile {:production :info
                        :development :debug}
       ;; ns-blacklist doesn't work?
       ;; https://github.com/fzakaria/slf4j-timbre/issues/18
       :ns-blacklist #profile {:production []
                               :development ["org.apache.zookeeper"
                                             "org.apache.kafka.common.metrics"]}}
 :db {:inmemory {}}
 :datastore {:inmemory {}}
 :comms {:host #profile {:production "???"
                         :development "localhost"}
         :port 2181}}
